*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 65px;
    border-bottom: 1px solid #d3d6da;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */
    margin-bottom: 10px;
}
.burger-button{
    width: 120px;
}
.logo{
    display: flex;
    justify-content: center;
    width: 1000px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    height: 24px;
    /* width: 43px; */
    /* overflow: hidden; */
}
.logo img{
    height: 24px;
}
.navbar{
    display: flex;
}
.navbar .game-icon-a{
    margin: 0px 6px;
}
.game-icon{
    margin-left: 6px;
}
.wordle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wordle div{
    /* padding: 10px; */
    display: flex;
}
.wordle div div{
    margin: 2.5px;
    width: 49px;
    height: 49px;
    border: 2px solid #d3d6da;
}